<section class="section-hero hero-child py-0">
    <div class="video_contain">
        <video autoplay="enable" #heroVideo id="heroVideo">
            <source src="../../../assets/videos/intro.MOV" type="video/mp4">
        </video>
    </div>    
    
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-start">
            <div class="col-md-9 pb-5 wow animate__fadeInUp animate__animated">
                <p class="breadcrumbs"><span class="me-2"><a href="index.html">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span>Explore Cars <i
                            class="ion-ios-arrow-forward"></i></span></p>
                <h1 class="mb-3 bread">Explore Cars</h1>
            </div>
        </div>
    </div>
</section>

<section class="section-car-list bg-light">
    <div class="container">
        <form class="d-flex flex-column request-form bg-primary mb-4">
            <div class="row">
                <div class="col-sm-auto">
                    <div class="form-group">
                        <label for="" class="form-label">Category</label>
                        <ng-select [searchable]="true" [clearable]="false" placeholder="Economy Rent,  Luxury Rent, etc">
                                <ng-option *ngFor="let category of categories" [value]="category.value">
                                    {{category.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="form-group">
                        <label for="" class="form-label">Pick-up location</label>
                        <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="form-group">
                        <label for="" class="form-label">Drop-off location</label>
                        <input type="text" class="form-control" placeholder="City, Airport, Station, etc">
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="form-group">
                        <label for="" class="form-label">Pick-up date</label>
                        <input class="form-control" bsDatepicker #pickdate="bsDatepicker" placeholder="Date">
                    </div>
                </div>
                <div class="col-sm-auto d-flex align-items-end">
                    <div class="form-group ">
                        <input type="submit" value="Search A Car" class="btn btn-secondary py-2 px-4">
                    </div>
                </div>
            </div>
            
        </form>
        <div class="row">
            <ng-container *ngFor="let vehicle of vehicles; let i = index">
                <div class="col-md-4">
                    <app-vehicle-widget [vehicle]="vehicle"></app-vehicle-widget>
                </div>
            </ng-container>
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="paging">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>